<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/show-all-post">Show all post</a></li>
		<li><a href="/post-form"> Create a Post</a></li>
		<li><a href="/login-form">Login</a></li>
		<li><a href="/signup-form">Signup</a></li>
		<li><a href="/comment-form">Comment form</a></li>
		<li><a href="/current-user">Current User</a></li>
	</ul>
</nav>
