<!DOCTYPE html>
<html>
	<% include ./partials/head %>
	<body>
		<% include ./partials/nav %>
		<h1>Welcome to show all posts page</h1>
		<% console.log(posts) %>
		<br />

		<% if (posts.length > 0) { %> <% posts.forEach(element => { %>
		<p class="title">Title: <%= element.title %></p>
		<p class="post">Post: <%= element.post %></p>
		<p>Author: <%= element.owner.username %></p>
		<br />
		<% }) %> <% }else { %>
		<p>There's no posts yet!</p>
		<% } %>
	</body>
</html>

<!--IN index.ejs page console.log(posts)
forEach for the posts and display each post's title and post -->
